#inputText{
    border-radius: 20px;
    width: 200px;
    height: 20px;
}

#break{
    display: block;
    margin-top: 20px;
}

#center{
    align-items: center;
    align-self: center;
}

#border{
    border-color: black;
    border-width: 20px;
}
