*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(16, 1, 58);
}


.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#load{
    display: inline-block;
    border: 3px solid #FFA45D;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 50% 50%;
    vertical-align: middle;
    margin-top: 20px;

}

.container button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 30px;
    border: 3px solid #FFA45D;
    border-radius: 10px;
    background: transparent;
    margin-top: 10px;
}


.input-file-upload{
    display: flex;
    flex-direction: column;

}

.upload-btn {
    align-self: center;
    position: center;
    overflow: hidden;
    display:inline-block;

    outline: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    padding: 7px 0px;

    border-radius: 10px;
    background: transparent;
    margin-top: 10px;
}

.btn {

    cursor: pointer;

    color: #ffffff;
    text-align: center;
    align-self: center;


}

.upload-btn input[type=file] {
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload_img{
    display: inline-block;
    border: 3px solid #FFA45D;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 50% 50%;
    vertical-align: middle;
    margin-top: 20px;
}